body {
    font-family: "Source Sans Pro", Helvetica, Arial;
    font-size: 16px;
    color: #4B5571;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: #4B5571;
}

a:hover {
    color: #FF6272;
    text-decoration: underline;
}


h1 {
    font-size: 80px;
    font-weight: bold;
    color: #FF6272;
    border-bottom: 10px solid #FF6272;
    padding-bottom: 40px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color:white;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    color: #4C5670;
}

h4 {
    font-size: 34px;
    font-weight: normal;
    color: #4C5670;
}

p {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 31px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.heading-aside {
    border: 10px solid #FF6272;
    line-height: 101px;
    padding: 20px 50px 20px 20px;
    margin-top: 30px;
}

.section-grey {
    background: #F4F3F3;
}

.what-is-livehacks {
    margin-top: -80px;
    padding-top: 120px;
    padding-bottom: 250px;
}

.what-is-livehacks.v2 {
    padding-bottom: 500px;
}

.section-white {
    background: white;
}

.navbar-logo {
    margin: 30px 0;
}

.navbar-log-nav {
    padding: 35px 40px 0 0;
}

.navbar-logo-mob {
    padding: 25px;
    margin: 10px 0;
    float:right;
}

.navbar-list li {
    float: left;
    padding: 20px;
    text-transform: uppercase;
}

.navbar-list li:last-child {
    padding-right:0;
}

.navbar-list.v2 a {
    font-size: 22px;
}

.navbar-list li a {
    font-weight: 600;
    text-decoration: none;
    color: #FF6272;
    font-size: 30px;
}

.navbar-list li a:hover {
    border-bottom: 4px solid #FF6272 !important;
}

.navbar-list {
    display: inline-block;
    list-style: none outside none;
    margin-top: 65px;
}


.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: -100%;
    top: 0;
    background-color: #FF6272;
    background-color: #FF6272;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay.open {
    left: 0%;
    display: block;
}

.overlay-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 25px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay a:hover, .overlay a:focus {
    color: #efefef;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.livehacks-box {
    color: white;
    margin-bottom: 80px;
    position: relative;
}

.livehacks-box h1 {
    color: white;
    border: none;
    padding: 60px 80px 30px 100px;
    margin-right: 200px;
}

.livehacks-box--content {
    padding: 0 150px 20px 150px;
}

.livehacks-box--navy {
    background:#506E86;
}

.livehacks-box--blue {
    background: #4C5670;
}

.livehacks-box--pink {
    background: #FF6272;
}

.livehacks-box--dev {
    margin-top: 200px;
}

.btn {
    color: #fff;
    border-radius: 90px;
    border: 8px solid #fff;
    background: transparent;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
    padding: 24px 0;
    font-size: 48px;
    margin-top: 70px;
    text-decoration: none;
    transition-duration: 0.2s;
}


.btn:hover, .btn:active, .btn:focus {
    color: #FF6272;
    background: #fff;
    transition-duration: 0.2s;
}

.spots {
    position: absolute;
    top: 0;
    right: 40px;
    text-transform: uppercase;
    color: white;
}

.apply-now {
    padding-top: 150px;
}

.how-it-works {
    margin-top: 300px;
}

.masthead-banner img {
    width: 100%;
    margin-top: 50px;
}

.date-section.v2 {
    margin-top: 100px;
    width: 100%;
    background: url(../img/date-section.png) center repeat-x;
    background-size: cover;
    display: block;
    height: 600px;
    position: relative;
    text-decoration: none !important;
}

.recathelon {
    margin-top: 100px;
    padding-bottom: 50px;
}

.brands.one {
    margin-top: 100px;
}

.reactor {
    border: 10px solid #FF6272;
    padding: 50px;
    margin-top: 200px;
    margin-left: 80px;
}

.carousel-row {
    margin-top: 100px;
}

.carousel-container-custom.one {
    margin-bottom: 200px;
}

.carousel-container.two {
    margin-top: 100px;
    margin-bottom: 100px;
}


.win-marshalls {
    border: 10px solid #FF6272;
    padding: 50px;
    margin-top: 200px;
}

.why-join-livehacks {
    border: 10px solid #FF6272;
    padding: 50px;
    margin-top: -400px;
}

.drop-a-message {
    border: 10px solid #FF6272;
    padding: 50px;
    margin-top: -300px;
}

.drop-the-message-description {
    margin-top: 20px;
}

.drop-the-message-description .btn-container {
    margin-top: 110px;
}

.why-join-livehacks h1,
.where-and-when h1,
.drop-a-message h1,
.reactor h1{
    border: none;
    padding: 0;
}

.why-join-livehacks img,
.where-and-when img,
.drop-a-message img {
    margin-left: 100px;
    float: right;
}

.where-and-when {
    border: 10px solid #FF6272;
    padding: 50px;
}

.livehacks-v2-timing {
    margin-top: 100px;
}

.why-join-livehacks-description {
    margin-top: -400px;
}

.why-join-livehacks-description h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 26px;
    text-transform: uppercase;
    color: #FF6272;
}

.btn-primary {
    background: #506E86;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 50px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
}

.btn-primary:hover {
    text-decoration: none;
}

.win-marshalls h1 {
    border: none;
    padding-bottom: 0;
    margin: 40px 0 0 0;
}

.win-marshalls img {
    max-width: 200px;
    margin-top: 50px;
}
.date-section {
    margin-top: -100px;
    width: 100%;
    background: url(../img/Video_Desktop@2x.png) center no-repeat;
    background-size: cover;
    display: block;
    height: 700px;
    position: relative;
    text-decoration: none !important;
}

.date-section h3 {
    padding-top: 50px;
    color: white;
}

.date-section .time {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

.deadline {
    text-align: center;
    margin-top: 60px;
    color: white;
}

.brands {
    padding-bottom: 40px;
}

.brands p {
    text-align: center;
}

.kth-logo {
    height: 150px;
}

.stagecast-logo {
    height: 75px;
    margin-top: 50px;
}

.zound-logo {
    margin-top: 70px;
    height: 25px;
}

.telia-logo {
    height: 50px;
    margin-top: 55px;
}

.sae-logo {
    height: 75px;
    margin-top: 45px;
}

.footer-links {
    margin-top: 80px;
}

.footer-attributes {
    margin-top: 30px;
    margin-bottom: 40px;
}

#show-more-less {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {

    h1 {
        font-size: 54px;
        font-weight: bold;
        color: #FF6272;
        border-bottom: 10px solid #FF6272;
        padding-bottom: 40px;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        color:white;
    }

    h3 {
        font-size: 24px;
        font-weight: bold;
        color: #4C5670;
    }

    h4 {
        font-size: 34px;
        font-weight: normal;
        color: #4C5670;
    }

    p {
        font-size: 24px;
    }

    .btn {
        font-size: 34px;
        font-weight: 600;
        border: 5px solid white;
    }

    .win-marshalls {
        margin-top: 0;
    }

    .how-it-works {
        margin-top: 0;
    }

    .brands img {
        display: initial;
    }

    .brands p {
        margin:0;
    }

    .footer-links p {
        margin: 15px 0;
    }

    .brand-heading {
        margin-bottom: 40px;
    }

    .date-section {
        margin-bottom: 20px;
    }
}

#nav-icon1 {
    z-index: 2;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 60px 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1.open {
    position: fixed;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #FF6272;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 15px;
}

#nav-icon1 span:nth-child(3) {
    top: 30px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.white {
    background: white !important;
}

.brand-heading {
    margin-top: 50px;
    line-height: 44px;
    font-size: 26px;
}

.faq {
    padding-bottom: 400px;
}


.question {
    border: 10px solid #FF6272;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 80px;
    max-width: 800px;
    margin-top: 80px;
    text-transform: uppercase;
    color: #FF6272;
    z-index: 200;
    position: relative;
}

.answer {
    background: #F4F3F3;
    padding: 100px 50px 100px 50px;
    margin-top: -85px;
}

.answer p {
    margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
    .livehacks-box {
        margin-bottom: -55px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .masthead-banner {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -25px;
    }

    .livehacks-box h1 {
        margin-right: 0;
        padding: 50px;
        margin-bottom: 0;
    }

    .livehacks-box--content {
        padding: 0 50px 50px;
    }

    .spots {
        display: none;
    }

    .heading-aside {
        display: none;
    }

    .what-is-livehacks {
        padding-bottom: 200px;
    }

    .brands-container {
        margin-top: 55px;
    }

    .date-section {
        height: 700px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .kth-logo {
        height: auto;
    }
    .telia-logo {
        height: auto;
    }
    .zound-logo {
        height: auto;
    }
    .stagecast-logo {
        height: auto;
    }
    .sae-logo {
        height: auto;
    }
}

@media only screen and (max-width: 640px) {
    .date-section {
        height: 500px !important;
    }

}

#carousel1 .slick-dots {
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

#carousel1 .slick-dots li {
    margin: 20px 10px;
    display: inline-block;
}

.slick-dots li button {
    font-size: 0;
    border: 5px solid #FF6272;
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 50%;
    background: transparent;
    outline: none;
}

.slick-dots .slick-active button {
    font-size: 0;
    border: 5px solid #FF6272;
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 50%;
    background: #FF6272;
    outline: none;
}

.slick-dots li button::before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
}

#carousel2 .slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    position: absolute;
    top: 0;
    right: -70px;
}

#carousel2 .slick-dots li {
    margin: 5px 0;
}


.row-carousel-2 {
    margin: 100px 0;
}
